<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="/public/javascripts/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="/public/jsapi-plugin/plugin/plugin.js"></script>
<script type="text/javascript" src="/public/jsapi-plugin/plugin/inmail_plugin.js"></script>

<style>
  * { margin: 0; padding: 0; overflow: hidden; }
  
  /* place your plugin width here */
  #body { width: 400px; }
</style>
</head>
<body>
  <div id="body">
    <div class="wrapper">
      <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: 9fxvQ9r44K4fB__u3x4Ft7ocHI-71xepDsS-pm85laVBKIDI-ktH1V4GZFxqgNld
        authorize: true
      </script>
      <p> This is the inmail plugin. (need to use js api to get more)</p>
      <p>
        <script type="IN/Login" data-onAuth="loadData">You are <?js= firstName ?> <?js= lastName ?></script>
        <!--
        <script type="IN/MemberProfile" data-id="/in/dragade" data-format="inline" data-related="false"></script>
        -->

      <br/>Your profile goes below!!!<br/>
        <div id="profile">
          some profile data here
        </div>

      <br/>Your inmails are here!!!!</br>
      <div id="inmails">
      </div>

      <br/>Your network shares are here!!!!</br>
      <div id="shares">
      </div>

      </p>
    </div>
  </div>
</body>
</html>
